*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid black; */
    font-family: sans-serif;
}

/* <!-- inizio della paggina header      --> */


header{
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid grey;
    position: sticky;
    top: 0;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: relative
}
header nav > div{
    display: flex;
    gap: 10px;
    align-items: center;
}
header nav > div ul{
    display: flex;
    gap: 10px;
}
header nav > div li::after{
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    width: 0;
    height: 3px;
    background: green;
    transition: .3s;

}
header nav > div li:hover::after{
    width: 100%;
}


/* header nav > div ul a{
    line-height: 100px;
} */
    
ul li{
    list-style-type: none;
}


    

nav ul li a{
    text-decoration: none;
    color: black;
    
}
.btn_blu{
    background-color: blue;
    color: white;
    padding:10px 15px;
}
    

.btn_blu:hover{
    background-color: rgb(30, 80, 247);
} 

.titolo_grande{
    padding-top: 30px;
    font-size: 30px;
    
}
.head_info{
    height: 500px;
    width: 1200px;
    margin: auto;
}
.backgraund{
    width: 100%;
    height: 500px;
    
    padding: 0 10%;
    background-color: lightblue;
    
}

.gruppo1{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.container1{
    
    width: 1200px;
    
    margin: auto;
}

.titolo__foto img{
    width: 600px;
}

.paragrafo button{
    margin: 30px 0;
}
.paragrafo span{
    display: inline-block;
    margin: 40px 0;
    font-size: 50px;
}

/* <!-- continetore 2 con titolo e input  --> */

.input{
    display: flex;
    gap: 40px;
    padding-top: 30px;
}
.container2{
    padding: 50px 0;
    width: 1000px;
    margin: auto;
}

/* <!-- continetore 3 con con iformazioni          --> */
.container3{
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    
    
}
.gruppo__singolo1,
.gruppo__singolo2,
.gruppo__singolo3{
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid grey;
    text-indent: -0,7rem;
    
    
}
.gruppo__singolo1,
.gruppo__singolo2,
.gruppo__singolo3 i{
    margin-right: 5px;
    
    
}
.gruppo__info1,
.gruppo__info2,
.gruppo__info3{
    width: 300px;
    height: 850px;
    border:1px solid grey;
     
}
.quadrato1, .quadrato2, .quadrato3, .quadrato4{
    display: flex;
    flex-direction: column;
    
    
    gap: 20px;
    padding: 20px 15px;
}
.quadrato3 hr{
    width: 50px;
}
.fa-check{
    color: blue;
}
.gray{
    color: grey;
}

/* <!-- gruppo 4 orizontale --> */

.gruppo__info4{
    width: 1000px;
    height: 200px;
    
    margin: 50px auto;
    border:1px solid grey;
    
    
}
.gruppo__singolo4{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:1px solid grey ;
}
.riga1{
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 30px; 
       
    
}
.riga-btn{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* <!-- metta della pagina................         --> */

.partner{
    width: 650px;
    height: 700px;
            
}
.titolo{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
}
.titolo button{
    width: 60%;
}
.titolo__partner{
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.btn_white{
    background-color: white;
    padding:5px 10px;
    color: black; 
    border: 1px solid black;
}
.btn_white:hover{
    background-color: rgb(228, 218, 218);
}
/* <!-- foto con text          --> */

.box1, .box2, .box3, .box4, .box5, .box6{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.container1_x3,
.container2_x3{
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between; 
     
}
.container2_x3{
    margin-top: 50px;
}
.container2 .scopri{
    padding: 50px 0;
}

/* <!-- footer della pagina .....     --> */

footer{
    height: 500px;
    background-color:#000000;
}
.elenco{
    max-width: 1200px;
    
    margin: auto;
    display: flex;
    justify-content: space-between;
    
    

}

.elenco li{
    color: gray;
    padding: 10px 0;
}
.elenco ul{
    margin: 50px 0;
    
}
.elenco ul li:first-child{
    color: white;
    font-size: 30px;
}
.barra, .selettore{
    max-width: 1200px;
    margin:  auto;
}
.barra hr{
    width: 15%;
}
.selettore{
    margin: 30px 0;
}
.fa-earth-americas{
    color: white;
}