*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid black; */
    font-family: sans-serif;
}

/* <!-- inizio della paggina header      --> */


header{
    height: 100px;
    border-bottom: 2px solid grey;
    

}
header nav{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin: 0 20px;
    
}

ul li{
    list-style-type: none;
    
}
nav ul li a{
    text-decoration: none;
    color:grey ;
    
}
.btn_blu{
    background-color: #0061FE;
    padding:5px 10px;
    color: white;
}

nav ul{
    display: flex;
    column-gap: 20px;
    align-items: center;
        
}
/* <!-- iformazioni main  --> */


.titolo__main{
    height: 500px;
    background-color: #B4D0E6;
}

.titolo__grande{
    padding-top: 30px;
    font-size: 30px;
}


.gruppo1{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.container1{
    
    width: 1200px;
    margin: auto;
}

.titolo__foto img{
    width: 600px;
}

.paragrafo button{
    margin: 30px 0;
}
.paragrafo span{
    display: inline-block;
    margin: 40px 0;
    font-size: 50px;
}

/* <!-- continetore 2 con titolo e input  --> */

.input{
    display: flex;
    gap: 40px;
    padding-top: 30px;
}
.container2{
    padding: 50px 0;
    width: 1100px;
    margin: auto;
}

/* <!-- continetore 3 con con iformazioni          --> */
.container3{
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    
    
}
.gruppo__singolo1,
.gruppo__singolo2,
.gruppo__singolo3{
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid grey;
}
.gruppo__info1,
.gruppo__info2,
.gruppo__info3{
    width: 300px;
    height: 850px;
    border:1px solid grey; 
}
.quadrato1, .quadrato2, .quadrato3, .quadrato4{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 15px;
    
        
}
.quadrato3 hr{
    width: 50px;
}
.fa-check{
    color: blue;
}
.gray{
    color: grey;
}

/* <!-- gruppo 4 orizontale --> */

.gruppo__info4{
    width: 1100px;
    height: 200px;
    
    margin: 50px auto;
    border:1px solid grey;
    
    
}
.gruppo__singolo4{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:1px solid grey ;
}
.riga1{
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 30px; 
       
    
}
.riga-btn{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
